@import "../../styles/contants.scss";

.wrapper {
  overflow: hidden;

  .container {
    position: relative;
    z-index: 1;

    .upperElements {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .lowerElements {
      margin-top: 12rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .experience {
        display: flex;
        align-items: center;
        gap: 1rem;
        > :nth-child(2) {
          line-height: 25px;
        }
      }

      .certificate {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          margin-bottom: 1rem;
          width: 3.5rem;
        }
      }
    }

    .email {
      color: orange;
      position: absolute;
      top: 50%;
      left: 0%;
    }

    .person {
      position: absolute;
      left: 30%;
      bottom: -2rem;
      margin: auto;
      background-image: url("../splash.png");
      background-repeat: no-repeat;
      background-size: 23rem;
    }
  }
}
